<form class="col s12" name="novo-chamado">
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <input name="cliente" id="cliente" type="text" class="validate" value="Nome">
            <label for="cliente">Cliente</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <input name="email" id="email" type="email" class="validate" value="email@email.com">
            <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <input name="pedido" id="pedido" type="text" class="validate" value="123">
            <label for="pedido">Número do Pedido</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <input name="titulo" id="titulo" type="text" class="validate" value="Título">
            <label for="titulo">Título</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <textarea name="observacao" id="observacao" class="materialize-textarea">Observação</textarea>
            <label for="observacao">Observação</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <button class="btn waves-effect waves-light right" type="submit" id="btn-enviar">
                Cadastrar
            </button>
        </div>
    </div>
</form>
